html {
  background: #faf7f2;
  background-image: url(https://s3.postimg.org/s1n3ji1ur/paper_fibers_2_X.png);
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  font-family: 'PT Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
.App {
  height: 89vh;
  display: flex;
  background-color: lightblue;
}
.sidebar{
  height: 100%;
  width:250px;
  background-color: #14312c;
}